.page {
    flex-direction: column; 
    padding: 0;             
    margin-top: 7em;
}

main {
    flex: 2;
    width: 100%;
    height: 100%;
}

@media (max-width: 641px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
