@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@inject NavigationManager NavigationManager
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="page">
    @if (!IsLoginOrRegisterPage)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsLoginOrRegisterPage =>
        NavigationManager.Uri.EndsWith("/", StringComparison.OrdinalIgnoreCase) || 
        NavigationManager.Uri.EndsWith("/register", StringComparison.OrdinalIgnoreCase);
}

