.page {
    flex-direction: column; /* Ensure column layout for consistency */
    padding: 0;             /* Remove any padding applied globally */
    margin: 0;
}

main {
    flex: 2;
    width: 100%;
    height: 100%;
}


@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}
