<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a href="/home">
            <img src="resources/images/logo.svg" alt="ShareCare Logo" class="logo" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="home">
            <i class="bi bi-house-door-fill" aria-hidden="true"></i> Home
        </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="house-rules">
                <span class="bi bi-book" aria-hidden="true"></span> House Rules
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="complaints-issues">
                <span class="bi bi-exclamation-circle" aria-hidden="true"></span> Complaints & Issues
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pending-payments">
                <span class="bi bi-cash-stack" aria-hidden="true"></span> Pending Payments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="open-tasks">
                <span class="bi bi-check-square" aria-hidden="true"></span> Open Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-calendar-check" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="Logout">
                <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Log out
            </NavLink>
        </div>
    </nav>
</div>


@code {
    [Inject]
    private UserService UserService { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private async Task Logout()
    {
        var success = await UserService.LogoutUser();
        if (success)
        {
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            Console.WriteLine("Logout failed.");
        }
    }
}
