:root {
    --dark-cyan: #1f9298;
    --timberwolf: #cccdc8;
    --davy-gray: #545455;
    --hooker-green: #5e8685;
    --orange: #FC8425;
    --peach: #FDC090;
    --light-orange: #FEDABE;
    --anti-flash-white: #EFEFEF;
    --white-smoke: #f5f5f5;
    --event-color: #f0ee69; 
    --task-color: #77e97f;
} 

/* EXTRA: colorblind patterns */

.legend {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    gap: 1.5rem;
    font-size: 0.9rem;
}

    .legend-item {
        display: flex;
        align-items: baseline;
    }

    .box {
        width: 1em; 
        height: 1em;
        margin-right: 0.5rem; 
        display: inline-block;
    }

        .box.task {
            background-color: var(--task-color);
        }

        .box.event {
            background-color: var(--event-color);
        }

.calendar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 1.5em;
    padding-bottom: 0.5em;
    
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--dark-cyan);
    color: white;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

    .navigation button {
        background-color: transparent;
        color: white;
        font-size: 1.5em;
        font-weight: 700;
        cursor: pointer;
        border: none;
    }

    .navigation span {
        font-size: 1.1em;
        text-align: center;
    }

.days {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
    max-height: 55vh;
    overflow-y: auto;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white-smoke);
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .day .date {
        text-align: center;
        margin-bottom: 1em;
        font-weight: 400;
    }

        .day .date .date-day {
            font-size: 1.2em;
            font-weight: bold;
            color: var(--orange);
        }

        .day .date .date-month {
            font-size: 1.1em;
            color: var(--davy-gray);
        }

        .day .date .day-of-week {
            font-size: 1.2em;
            font-weight: 500;
        }

.task, .event {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task {
    background-color: var(--task-color);
}

.event {
    background-color: var(--event-color);
}

    .task p.summary, .event p.summary {
        font-size: 0.8em;
        font-weight: bold;
        margin: 0;
        color: var(--davy-gray);
    }

    .task span.user, .event p.room {
        font-size: 0.8em;
        color: #666;
    }

button {
    font-size: 1em;
    padding: 0.5em;
    color: white;
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.modal-content {
    background-color: var(--white-smoke); 
    padding: 1.5em; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 90%; 
    max-width: 30em; 
    max-height: 80vh; 
    overflow-y: auto; 
    position: relative;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    padding: 1em;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

    .modal.active {
        visibility: visible;
        opacity: 1;
    }

    .modal-content h2 {
        font-size: 1.5em;
        font-weight: 600; 
        margin-bottom: 1.5em;
        color: var(--orange);
    }

    .modal-content p {
        font-size: 1em;
        color: var(--davy-gray);
    }

    .modal-content .close {
        position: absolute;
        right: 0.5em;
        top: -0.1em;
        background: none;
        border: none;
        font-size: 2em;
        color: var(--davy-gray);
    }